* {
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: black;
}

div { 
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    height: 100%;
}

.header {
    flex-direction: row;
    justify-content: center;
    background-color: tan;
    width: 100vw;
}

.body {
    background-color: grey;
    justify-content: center;
    width: 60vw;
}

.searchBar {
    padding: 10px;
    flex-direction: row;
}

#searchBox {
    margin: 1vw;
}

#searchButton {
    margin: 1vw
}

.box {
    padding: 10px;
    flex-direction: row;
}

.results {
    margin: 0 1.67vw 0 3.3vw;
    width: 45vw;
    align-items: center;
    background-color: white;
}

.nominees {
    margin: 0 3.3vw 0 1.67vw;
    width: 45vw;
    align-items: center;
    background-color: white;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    flex-direction: row;
    align-items: center;
}

.poster {
    width: 20%;
    height: 20%;
}

.movieContent {
    display: inline;
    flex-direction: column;
}
